{% extends "auctions/layout.html" %}

{% block body %}

{% if message1 %}
<div>
    <h4 class = "message1">{{ message1 }}</h4>
</div>

{% elif message2 %}
<div>
    <h4 class = "message2">{{ message2 }}</h4>
</div>


{% endif %}


<div class="category-listing-header">
<h2>Active Listings for {{ category_name }} <h2>
</div>


<div class="Listing-Container">
    {% for listing in page_obj %}
    <div class="individual-listing">
        <a href="{% url 'listing_details' listing_id=listing.id %}">
            <h3><strong>{{ listing.listing_title }}</strong></h3>
        </a>
        <h5><i><strong>Category:</i></strong>{{ listing.category }}</h5>
        <br>
        <div class="photo_and_details">
            <div><img src="{{ listing.listing_image_url }}" class="listing-image"></div>
            <div class="listing_details">
                <p><strong>Details</strong></p>
                <p> {{ listing.listing_details }} </p>
            </div>
        </div>
        <div class = "price-box">
            <div class=price-title"><strong>Current Price:</strong></div><div class="price">£{{ listing.current_bid }} </div> 
        </div>

    </div>

    {% endfor %}
</div>

<div class="pagination">
    <div class="pagenum">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}  
    </div>

    <div class="next-previous">
        <div>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        </div>
        <div>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"> Next</a>
        {% endif %}
        </div>
    </div>
</div>


{% endblock %}