{% extends "auctions/layout.html" %}

{% block body %}

{% if message %}
<div>
    <h4>{{ message }}</h4>
</div>
{% endif %}


<h2>Active Listings</h2>
<br>
<div class="Listing-Container">
    {% for listing in listings%}
    <div class="individual-listing">
        <a href="{% url 'listing_details' listing_id=listing.id %}">
            <h3><strong>{{ listing.listing_title }}</strong></h3>
        </a>
        <h5><i><strong>Category:</i></strong>{{ listing.category }}</h5>
        <br>
        <div class="photo_and_details">
            <div><img src="{{ listing.listing_image_url }}" class="listing-image"></div>
            <div class="listing_details">
                <p><strong>Details</strong></p>
                <p> {{ listing.listing_details }} </p>
            </div>
        </div>
        <div class = "price-box">
            <div class=price-title"><strong>Current Price:</strong></div><div class="price">£{{ listing.current_bid }} </div> 
        </div>
    
        <div></div>
        <p class="Following"><i><strong>Following:</p>
            {% if listing.following.all %}
            <ul>
                {% for follower in listing.following.all %}
                <li>{{ follower }}</li>
                {% endfor %}
            </ul>
            {% else %}
            None.
            {% endif %}


    </div>

    {% endfor %}

</div>


<h3>Create New Listing</h3>
<a href="{% url 'new_listing' %}" class="btn btn-primary">Create New Listing</a>

{% if message2 %}
<div>
    <h4>{{ message2 }}</h4>
</div>
{% endif %}

{% if message3 %}
<div>
    <h4>{{ message3 }}</h4>
</div>
{% endif %}


{% endblock %}