{% extends "auctions/layout.html" %}

{% block body %}

{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }}">{{ message }}</div>
    {% endfor %}
{% endif %}


{% if message1 %}
<div class="message1">
    <h6>{{ message1 }}</h6>
</div>

{% elif message2 %}
<div class="message2">
    <h6>{{ message2 }}</h6>
</div>

{% endif %}


<div class="listing-header">
<h2>Active Listings<h2>
{% if user.is_authenticated %}
<a href="{% url 'new_listing' %}" class="btn btn-primary new-listing-button">Create New Listing</a>
{% endif %}
</div>


<div class="Listing-Container">
    {% for listing in page_obj %}
    <div class="individual-listing">
        {% if user.is_authenticated %}
        <a href="{% url 'listing_details' listing_id=listing.id %}">
            <h3><strong>{{ listing.listing_title }}</strong></h3>
        </a>
        {% else %}
        <h3><strong>{{ listing.listing_title }}</strong></h3>
        {% endif %}
        <h5><i><strong>Category:</i></strong>{{ listing.category }}</h5>
        <br>
        <div class="photo_and_details">
            <div><img src="{{ listing.listing_image_url }}" class="listing-image"></div>
            <div class="listing_details">
                <p><strong>Details</strong></p>
                <p> {{ listing.listing_details }} </p>
            </div>
        </div>
        <div class = "price-box">
            <div class=price-title"><strong>Current Price:</strong></div><div class="price">£{{ listing.current_bid }} </div> 
        </div>
    
        <div>
        <p class="Following"><i><strong>Following:</p>
            {% if listing.following.all %}
            <ul>
                {% for follower in listing.following.all %}
                <li>{{ follower }}</li>
                {% endfor %}
            </ul>
            {% else %}
            None.
            {% endif %}
        </div>


    </div>

    {% endfor %}

</div>
<div class="pagination">
    <div class="pagenum">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}  
    </div>

    <div class="next-previous">
        <div>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        </div>
        <div>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"> Next</a>
        {% endif %}
        </div>
    </div>
</div>



{% endblock %}