{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}

{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }}">{{ message }}</div>
    {% endfor %}
{% endif %}



<main>
    <h2 class="main-title">LISTING DETAILS PAGE</h2>
    <div class="listing-details-container">
        <h2><strong>{{ listing.listing_title }}</strong></h2>
        <div class="two-cols">
            <div class ="left-side">
                <div>
                    <img src="{{ listing.listing_image_url }}" class="listing-image">
                </div>
                {% if reserve_met %}
                <div class = "reserve-met-icon">Reserve Met</div>
                {% endif %}
                {% if user.is_authenticated and listing.user != user %}
                <form method="POST" action="{% url 'listing_details' listing_id=listing_num %}">
                    {% csrf_token %}
                    <div class="bid-form-group"> 
                        <input type ="text" name = "amount" class="bid-input" placeholder="Enter your bid in GBP">
                        <input type="submit" value="Submit Bid" class="btn btn-primary bid-submit">
                    </div>
                </form>
                {% endif %}
                {% if listing.user == user %}
                <div class="own-item-pane">
                    <div class="own-itwm-pane-title-bar">
                        <div class="own-itwm-pane-title-bar-left"><h4>This is your item! <br>
                            <small>Total bids: {{ number_bids }}</small></h4>
                        </div>
                        <div class="own-itwm-pane-title-bar-right">
                            <a href="{% url 'editlisting' listing_id=listing.id %}" class="btn btn-secondary edit-button">Edit Listing</a> 
                        </div>
                    </div>

                    {% if number_bids > 0 %}
                    <ul>
                        <li>A bid for <strong style="text-decoration: underline;">£{{ highest_bid }}</strong> is the current winning bid!</li>
                            {% if reserve_met %}
                                <li>Your reserve of £{{ reserve }} has been met.</li>
                            {% else %}
                                <li>Your reserve of £{{ reserve }} has <strong style="text-decoration: underline;">NOT</strong> been met.</li>
                            {% endif %}
                        <li>The auction closes in: {{ time_left }}</li> 
                    </ul>
                    {% else %}
                    <ul>
                        <li>No bids placed.</li>
                        <li>Your reserve for this item is set at £{{ reserve }}.</li>
                        <li>The auction closes in: {{ time_left }}</li> 
                    </ul>
                    {% endif %}
                </div>
                {% elif is_highest_bidder %}
                <div class="winning-bid-pane">
                    <h4>Congratulations!</h4>
                    <ul>
                        <li>Your bid for <strong style="text-decoration: underline;">£{{ user_bid_amount }}</strong> is the current winning bid!</li>
                        <li>Total bids you've made: {{ number_user_bids }}</li>
                        {% if reserve_met %}
                        <li>The Seller's Reserve has been met.</li>
                        {% else %}
                        <li>The Seller's Reserve has <strong style="text-decoration: underline;">NOT</strong> been met.</li>
                        {% endif %}
                    </ul>
                </div>
                {% elif bid_superceeded %}
                <div class = "losing-bid-pane">
                    <h4>Your bid has been superceeded!</h4>
                    <ul>
                        <li>Your bid for <strong style="text-decoration: underline;">£{{ user_bid_amount }}</strong> has been superceeded</li>
                        <li>Total bids you've made: {{ number_user_bids }}</li>
                        <li>The current winning bid is <strong style="text-decoration: underline;">£{{ highest_bid }}</strong></li>
                        {% if reserve_met %}
                        <li>The Seller's Reserve has been met.</li>
                        {% else %}
                        <li>The Seller's Reserve has <strong style="text-decoration: underline;">NOT</strong> been met.</li>
                        {% endif %}
                    </ul>
                </div>
                {% elif number_user_bids == 0 %}

                {% if number_bids > 0 %}
            
                <div class = "no-bid-pane">
                    <h4>You've not bid on this item.<br>
                    <small>Total bids: {{ number_bids }} </small></h4>
                    <p>Current Bid: £{{ highest_bid }}</p>
                    {% if reserve_met %}
                    <p>The Seller's Reserve has been met.</p>
                    {% else %}
                    <p>The Seller's Reserve has <strong style="text-decoration: underline;">NOT</strong> been met.</p>
                    {% endif %}
                    <p>The auction closes in: {{ time_left }}</p>

                </div>

                {% else %}

                <div class = "no-bid-pane">
                    <h4>You've not bid on this item.<br>
                    <small>Total bids: {{ number_bids }} </small></h4>
                    <p>Starting Price: £{{ highest_bid }}</p>
                    {% if reserve_met %}
                    <p>The Seller's Reserve has been met.</p>
                    {% else %}
                    <p>The Seller's Reserve has <strong style="text-decoration: underline;">NOT</strong> been met.</p>
                    {% endif %}
                    <p>The auction closes in: {{ time_left }}</p>

                </div>

                {% endif %}



                {% endif %}
                <div>
                    <div class="bid-history">
                        <p><i><strong>Item's Bidding History:</strong></i></p>
                        {% if bid_history %}
                            <ul>
                            {% for bid in bid_history %}
        
                                <li>{{ bid |linebreaksbr }}</li>
        
                            {% endfor %}
                            </ul>
        
                        {% else %}
        
                        <p>No bids have been made on this item yet.</p>
        
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="right-side">
                <div class="listing-details-box">
                    <p><i><strong>Listing Details</strong></i></p>
                    <ul>
                        <li> Item: {{ listing.listing_title }}</li>
                        <li> Seller: {{ listing.user.username }} </li>
                        <li> Category: {{ listing.category }}</li>
                        <li> Listed At: {{ listing.listing_date_time }}</li>
                        <li> Latest Closing Time:  {{ time_left }}</li>
                        <li> Number of Bids: {{ number_bids }}</li>
                            {% if reserve_met %}
                            <li> Reserve Met: Yes</li>
                            {% else %}
                            <li>Reserve Met: No</li>
                            {% endif %}
                        {% if number_bids > 0 %}
                        <li> Current Price: £{{ highest_bid }}</li>
                        {% else %}
                        <li> Starting Price: £{{ highest_bid }}</li>
                        {% endif %}
                    </ul>
                    <p><i><strong>Description:</strong></i></p>
                    <p> {{ listing.listing_details }}</p>
                </div>
                <div class = "follower-count-bar">
                    <div id="followerAccordion">
                        <div class="follow-card">
                            <div>
                                <button class="btn btn-secondary btn-follow following-dropdown" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Followers: {{ following_count }}
                                </button>
                            </div>
                      
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#followerAccordion">
                                <div class="follow-card-body">
                                    {% if listing.following.all %}
                                        <div class="follower-list">
                                            {% for follower in listing.following.all %}
                                            <div class="follower-name">• {{ follower.username }}</div>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                    None.
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if user.is_authenticated  %}
                    <div class="follow-unfollow-button">
                        {% if following %}
                        <a href="{% url 'listing_details_with_follow_action' listing_id=listing.id follow_action='unfollow' %}" class="btn btn-primary">Un-Follow</a>
                        {% else %}
                        <a href="{% url 'listing_details_with_follow_action' listing_id=listing.id follow_action='follow'%}" class="btn btn-primary">Follow</a>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="comments-box form-container">
            <h3 class="comments-title"><i>Comments ({{ number_comments }})</h3>
            {% if user.is_authenticated %}
            <p><strong>{{user.username}}</strong></p>
            {% endif %}
            <p class="comment-guidelines-disclimer">Comments are subject to our community standards and participation guidelines policy, which can be viewed <a href ="{% url 'commentguidelines' listing_id=listing_num %}">here.</a> By joining the conversation you are accepting our community rules and terms.</p></i>
            {% if user.is_authenticated %}
            <div class="comment-entry-parent">
                <div class="Initial-section comment-box-initial-section">
                    <i>{{ user.username |slice:":1" }}</i>
                </div>
                <div class="comment-form-parent">
                    <form class="comment-form" method="POST" action="{% url 'comment' listing_id=listing_num %}">
                        {% csrf_token %}
                        {{ comment_form }}
                        <div class="comment-entry-button">
                            <input type="submit" value="Submit Comment" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
            {% endif %}

            {% if not comments %}
            <p>No Comments for this Item</p>
            {% else %}
                {% load humanize %}
                
                {% for comment in comments %}
                <div class="comment">
                    {% if user.is_authenticated %}
                    <div class="Initial-section comment-initial-section">
                        <i>{{ comment.user.username |slice:":1"  }}</i>
                    </div>
                    {% endif %}
                    <div class="comment-body-section">
                        <div class="commenter-name"><i>{{ comment.user.username }}</div>
                        <div class="commenter-time">{{ comment.comment_time|timesince }} ago</i></div>
                        <div class="comment-content">{{ comment.comment_content }}</div>
                        {% if user.is_authenticated  %}
                        <div id="comment-like-reply-button-flexbox">
                                <div class="comment-like-button">
                                    {% if comment.id in user_likes %}
                                    <a href="{% url 'listing_details_with_comment_like_action' listing_id=listing.id comment_id=comment.id comment_like_action='unlike' %}" class="btn comment-like-btn"><i class="fas fa-star"></i> Unlike ({{ comment.comment_likes.count }})</a>
                                    {% else %}
                                    <a href="{% url 'listing_details_with_comment_like_action' listing_id=listing.id comment_id=comment.id comment_like_action='like' %}" class="btn comment-like-btn"><i class="far fa-star"></i> Like ({{ comment.comment_likes.count }})</a>
                                    {% endif %}
                                </div>
                                <div class="comment-reply-button">
                                    <button class="btn comment-reply-btn" onclick="toggleReplyForm('replyForm-{{ comment.id }}')">Reply</button>
                                </div>
                        </div>
                        <div id="replyForm-{{ comment.id }}" class="comment-reply-form" style="display: none;">
                            <form class="reply-form" method="POST" action="{% url 'comment' listing_id=listing_num %}">
                                {% csrf_token %}
                                {{ reply_form }}
                                <div class="reply-submitt-button-container">
                                    <input type="submit" value="Submit Reply" class="btn btn-primary submit-reply-button">
                                </div>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</main>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}